@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1260px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px 10px;
    //border: 1px solid #000;
}

.grid {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    @media (max-width: 1259px) {  
        flex-wrap: wrap;
    }
    &__card {
        
        &--last {
            @media (max-width: 1259px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            @media (max-width: 660px) {
                flex-direction: column;
            }
        }
        &--middle {
            @media (max-width: 660px) {
                display: flex;
                flex-direction: column;
            }
            // @media (max-width: 500px) {
            //     flex-direction: column;
            // }
        }
    }
    &__item{
        padding: 0 10px;
        &--first {
            width: 40%;
            @media (max-width: 1259px) {
                width: 60%;
            }
            @media (max-width: 660px) {
                width: 100%;
            }
        }
        &--middle {
            width: 20%;
            @media (max-width: 1259px) {
                width: 40%;
            }
            @media (max-width: 660px) {
                width: 100%;
            }
        }
        &--last {
            width: 40%;
            @media (max-width: 1259px) {
                width: 100%;
            }
        }
    }
}

.card {
    margin-bottom: 20px;
    &--middle {
        @media (max-width: 660px) {
            display: flex;
            width: 100%;
        }
    }
    &--last{
        display: flex;
        &:last-child {
            display: none;
            @media (max-width: 1259px) {  
                display: flex;
            }
        }
        &:nth-child(1) {
            order: 1;
            @media (max-width: 660px) {
                order:1
            }

        }
        &:nth-child(2) {
            order: 3;
            @media (max-width: 660px) {
                order: 2;
            }
        }
        &:nth-child(3) {
            order: 5;
            @media (max-width: 660px) {
                order: 3;
            }
        }
        &:nth-child(4) {
            order: 2;
            @media (max-width: 660px) {
                order: 4;
            }
        }
        &:nth-child(5) {
            order:4;
            @media (max-width: 660px) {
                order: 5;
            }
        }
        &:nth-child(6) {
            order: 6;
            
        }
       
        
        @media (max-width: 1259px) {  
            width: 50%;
        }
        @media (max-width: 660px) {
            width: 100%;
        }
    }
    &__img {
        background-color: #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px ;
        margin-bottom: 10px;
        &--middle {
            height: 90px;
            @media (max-width: 660px) {
                height: 70px;
                flex: 0 0 80px;
                margin-right: 10px;
            }
        }
        &--last {
            height: 70px;
            flex: 0 0 80px;
            margin-right: 10px;
        }
    }
    &__picture {
        color: red;
        font-size: 56px;
        font-weight: 400;
        background-color: #fff;
        padding: 10px 20px;
        &--middle {
            @media (max-width: 660px) {
               font-size: 26px;
            }
            
        }
        &--last {
            font-size: 26px;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        &--middle {
            font-size: 14px;
        }
        &--last {
            font-size: 14px;
        }
       
        &--mute1, &--mute2 {
            font-weight: 300;
        }

        &--mute2 {
            @media (max-width: 660px) {
                display: none;
            }
        }
    }
    &__text {
        color: #a49e9e;
        margin-top: 5px;
    }
}